{{#if isEditing}}
    {{view CourseManager.CourseEditForm}}
{{else}}
    <ul class="no-bullet no-margin">
        <li>Name: {{name}}</li>
        <li>Points: {{points}}</li>
        <li>
            <button class="margin-top radius small expand-small" {{action 'edit'}}>Edit</button>
        </li>
    </ul>
{{/if}}
