<div class="row">
    <div class="small-12 columns">
        <h1 class="centered-on-small">Courses</h1>
    </div>
</div>
<div class="small-12 medium-6 columns no-padding">
    <table class="course-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each}}
            <tr>
                <td>{{#link-to 'course' this}}{{name}}{{/link-to}}</td>
                <td>{{points}}</td>
                <td>

                    <button {{action deleteCourse this}} class="alert tiny no-margin radius expand delete-button">Delete</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<div class="small-12 medium-6 columns right-panel">
    <div class="row panel radius">
        {{outlet}}
    </div>

    <div class="row">
        {{view CourseManager.CourseForm}}
    </div>

    <div class="row panel radius margin-bottom-small">
        <h3>Statistics</h3>
        <ul class="no-bullet">
            <li>Number of Courses: {{numberOfCourses}}</li>
            <li>Number of Points: {{numberOfPoints}}</li>
        </ul>
    </div>
</div>